extends _page

block head
    title Help Desk Stand
    script window.urlPrefix = 'http://' + location.hostname + ':1313/education/api'

block body
    helpdesk-app
    script(src="main.js", type="text/javascript")
